<main>
  <div class="position-relative">
    <section class="section section-lg section-shaped">
      <div class="shape shape-style-1 shape-dark">

      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
             xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 120 0 120"></polygon>
        </svg>
      </div>
    </section>
  </div>
  <section class="section">
    <div class="container">

      <div class="card card-profile shadow mt--150 ">
        <div class="row row-cols-1 row-cols-md-1 g-4 p-4" style="max-width: 350px; align-self: center;">
          <div class="col">
            <div class="card shadow text-center">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img class="img-fluid card-img" src="assets/img/rennweg.png" alt="First slide">
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                </a>
              </div>
            </div>
          </div>
        </div>

        <h3 class="mt-2" style="text-align: center;"> Unterstütze uns und werde Mitglied</h3>
        <h4 class="mt-2" style="text-align: center;"> Werde ein RENNWEGER!
        </h4>

        <p class=" m-4">
          Jedes Vereinsmitglied bereichert den Rennweger SV, stärkt ihn sowohl ideell als auch finanziell, und trägt dazu bei die Zukunft des Rennweger SV erfolgreich zu gestalten!<br><br>

        Vereinsmitglied zu sein bedeutet:
        </p>
        <ul class="mx-5">
          <li>Du stärkst und bereicherst die Mitgliederschaft des Rennweger SV</li>
          <li>Du unterstützt den Verein durch Deinen Mitgliedsbeitrag in der Höhe von € 60,- pro Jahr</li>
          <li>Du besitzt ein Teilnahme- und Stimmrecht an den stattfindenden Rennweger SV Mitglieder-Versammlungen</li>
          <li>Du bekommst einen einmalig einzulösenden Gastrogutschein für eine Speise inkl. Getränk</li>
          <li>Du erhältst eine Rennweger SV Mitgliedskarte</li>
        </ul>
        <p class="m-4"  style="text-align: center;">
        Wir würden uns freuen, Dich als Mitglied begrüßen zu dürfen! <br>
          Die Höhe des Mitgliedsbeitrags von nur € 60,-<br>
          Die Einzahlungsmöglichkeiten: Bar (am Platz)<br>
        </p>

      </div>
    </div>
  </section>

</main>
