<nav id="navbar-main"
     class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
  <div class="container">
    <a class="navbar-brand mr-lg-5" [routerLink]="['/home']">
      <img style=" height: 53px;" src="assets/img/Rennweger_SV_1901.svg" alt="Rennweg Logo"/>
      Rennweger SV 1901
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header" *ngIf="isMobile">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a [routerLink]="['/home']">
              <img src="assets/img/Rennweger_SV_1901.svg" alt="Rennweg Logo"/>
              Rennweger SV 1901
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
                    [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav ml-lg-auto navbar-nav-hover">
        <li class="navbar-nav ml-lg-auto" style="margin: 0 0 17px 0;">
          <button type="button" class="btn btn-outline-secondary btn-lg btn-block" (click)="null" *ngIf="isMobile">
            <i class="fa-solid fa-users"></i>
            <span class="nav-link-inner--text" [routerLink]="['/mitglied']">Werde Mitglied</span>
          </button>
        </li>
        <li>
          <div class="nav-link nav-link-icon" ngbDropdown #myDropMannschaft="ngbDropdown" style="width: 100%"
               *ngIf="isMobile">
            <button type="button" class="btn btn-outline-secondary btn-lg btn-block" id="mannschaft" ngbDropdownAnchor
                    (click)="myDropMannschaft.open()">
              <i class="fa-solid fa-people-group"></i>
              <span class="nav-link-inner--text">Mannschaft</span>
            </button>
            <div ngbDropdownMenu aria-labelledby="mannschaft">
              <div *ngIf=" (teamNames | async) as _teamNames; else loading" >
                <button  *ngFor="let team of _teamNames" ngbDropdownItem [routerLink]="['/team', team.id, team.name]">{{team.name}}</button>
              </div>
              <button ngbDropdownItem [routerLink]="['/trainer']">Trainer</button>
            </div>
          </div>
        </li>
        <li>
          <div class="nav-link nav-link-icon" ngbDropdown #myDropVerein="ngbDropdown" style="width: 100%"
               *ngIf="isMobile">
            <button type="button" class="btn btn-outline-secondary btn-lg btn-block" id="verein" ngbDropdownAnchor
                    (click)="myDropVerein.open()">
              <i class="fa-solid fa-people-group"></i>
              <span class="nav-link-inner--text">Verein</span>
            </button>
            <div ngbDropdownMenu aria-labelledby="verein">
              <button ngbDropdownItem [routerLink]="['/chronik']">Vereinschronik</button>
              <button ngbDropdownItem [routerLink]="['/vorstand']">Vorstand</button>
            </div>
          </div>
        </li>
        <li class="navbar-nav ml-lg-auto" style="margin: 0 0 17px 0;">
          <button type="button" class="btn btn-outline-secondary btn-lg btn-block" (click)="null" *ngIf="isMobile">
            <i class="fa-regular fa-money-bill-1"></i>
            <span class="nav-link-inner--text" [routerLink]="['/sponsor']">Sponsor</span>
          </button>
        </li>
        <li class="navbar-nav ml-lg-auto text-center" style="margin: 0 0 17px 0;" *ngIf="isMobile">
          <a class="nav-link nav-link-icon" href="https://www.facebook.com/RSV1901">
            <i class="fa fa-facebook-square"></i>
          </a>
          <a class="nav-link nav-link-icon" href="https://www.instagram.com/rennweger_sv_1901/">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
        <!--!isMobile are lists that are only shown when its not on moblie-->
        <li class="navbar-nav ml-lg-auto" *ngIf="!isMobile">
          <a class="nav-link nav-link-icon" href="javascript:void(0)">
            <i class="fa-solid fa-users"></i>
            <span class="nav-link-inner--text" [routerLink]="['/mitglied']">Werde Mitglied</span>
          </a>
        </li>
        <li class="nav-item navbar-nav dropdown" *ngIf="!isMobile">
          <a class="nav-link nav-link-icon" data-toggle="dropdown" role="button">
            <i class="fa-solid fa-people-group"></i>
            <span class="nav-link-inner--text">Mannschaft</span>
          </a>
          <div class="dropdown-menu">
            <div *ngIf=" (teamNames | async) as _teamNames; else loading" >
              <a  *ngFor="let team of _teamNames" ngbDropdownItem [routerLink]="['/team', team.id, team.name]">{{team.name}}</a>
            </div>
            <a class="dropdown-item" [routerLink]="['/trainer']">Trainer</a>
          </div>
        </li>
        <li class="nav-item navbar-nav dropdown" *ngIf="!isMobile">
          <a class="nav-link nav-link-icon" data-toggle="dropdown" role="button">
            <i class="fa-solid fa-futbol"></i>
            <span class="nav-link-inner--text">Verein</span>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" [routerLink]="['/chronik']">Vereinschronik</a>
            <a class="dropdown-item" [routerLink]="['/vorstand']">Vorstand</a>
          </div>
        </li>
        <li class="navbar-nav ml-lg-auto" *ngIf="!isMobile">
          <a class="nav-link nav-link-icon" href="javascript:void(0)">
            <i class="fa-regular fa-money-bill-1"></i>
            <span class="nav-link-inner--text" [routerLink]="['/sponsor']">Sponsoren</span>
          </a>
        </li>
        <li class="nav-item" *ngIf="!isMobile">
          <a class="nav-link nav-link-icon" href="https://www.facebook.com/RSV1901">
            <i class="fa fa-facebook-square"></i>
          </a>
        </li>
        <li class="nav-item" *ngIf="!isMobile">
          <a class="nav-link nav-link-icon" href="https://www.instagram.com/rennweger_sv_1901/">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<ng-template #loading>
</ng-template>

