.shape img {width: 50%;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 81px;
  background-color: transparent;
}

.customContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "News News Sponsor"
    "News News Sponsor";
}
.News { grid-area: News; }
.Sponsor { grid-area: Sponsor; }

:host ::ng-deep .product-item .product-item-content {
  border: 1px solid var(--surface-d);
  border-radius: 3px;
  margin: 0.3rem;
  text-align: center;
  padding: 2rem 0;
}
:host ::ng-deep .product-item .product-image {
  width: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

video {
  width: 100%;
  height: auto;
}
