<main>
  <div class="position-relative">
    <section class="section section-lg section-shaped">
      <div class="shape shape-style-1 shape-dark">

      </div>

      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
             xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 120 0 120"></polygon>
        </svg>
      </div>
    </section>
  </div>
  <section class="section">
    <div class="container">
      <div class="card card-profile shadow mt--150 ">
        <div class="row row-cols-1 row-cols-md-1 g-4 p-4" style="max-width: 540px; align-self: center;">
          <div class="col">
            <div class="card shadow text-center">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img class="img-fluid card-img" src="assets/img/rennweg.png" alt="First slide">
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                </a>
              </div>

              <div class="card-body">
                <h5 class="card-title">Herzlich Willkommen</h5>
                <p class="card-text">
                  Auf unserer neuen Rennweger SV 1901 Website!
                </p>


              </div>
            </div>
          </div>
        </div>
        <p-carousel *ngIf=" (products | async) as _products; else loading" [value]="_products" [numVisible]="3" [numScroll]="1" [circular]="true" [responsiveOptions]="responsiveOptions"
                    [showIndicators]="false" [autoplayInterval]="3000">
          <ng-template let-_products pTemplate="item">
            <div class="product-item">
              <div class="product-item-content">
                <div class="mb-3">
                  <img src="assets/img/{{ _products.image}}.png" style="aspect-ratio: 5/2; object-fit: contain;"  [alt]="_products.name" class="product-image" />
                </div>
                <div>
                  <h4 class="mb-1">{{ _products.name }}</h4>
                </div>
              </div>
            </div>
          </ng-template>
        </p-carousel>
        <h2 style="text-align: center"> Wichtigeste Informationen</h2>
        <div class="dropdown-divider"></div>
        <div class="row row-cols-1 row-cols-md-1 g-4 p-4">
          <div class="col">
            <div class="card shadow mb-3 text-center h-100">

              <div class="bg-image  hover-overlay ripple" style="min-width: 12em" data-mdb-ripple-color="light">
                <video height="240" controls autoplay loop>
                  <source src="assets/img/platz.mp4" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
              </div>

              <div class="card-body p-2">
                <h5>Platz</h5>
                <p class="card-text">
                  Grasbergergasse 15 <br>
                  1030 Wien<br>
                  <small><i class="fa-solid fa-phone"></i><a href="+436646209941"> +43 664/620 99 41</a></small>
                  <br><small><i class="fa-solid fa-envelope"></i> <a href="office@rsv-1901.at"> office@rsv-1901.at</a></small>
                </p>
              </div>
            </div>
          </div>
          <div class="col" >
            <div class="card shadow text-center h-100">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light" style="max-width: 250px; margin: auto; display: block;">
                <img class="img-fluid card-img" src="assets/img/rennweg.png" alt="First slide">
              </div>
              <div class="card-body p-2">
                <h5>Funktionäre</h5>
                <div class="row">
                  <div class="col" >
                    <p class="card-text">
                    Sabine Sturm<br>
                    <small><i class="fa-solid fa-phone"></i><a href="+4369911239800"> +43 699/112 3 98 00</a></small>
                    <br><small><i class="fa-solid fa-envelope"></i> <a href="sabine.sturm@polizei.gv.at"> sabine.sturm@polizei.gv.at</a></small>
                    </p>
                  </div>
                  <div class="col" >
                    <p class="card-text">
                      Ronnie Müller<br>
                      <small><i class="fa-solid fa-phone"></i><a href="+436646209941"> +43 664/620 99 41</a></small>
                      <br><small><i class="fa-solid fa-envelope"></i> <a href="r.mueller@billa.at"> r.mueller@billa.at</a></small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <h2 style="text-align: center"> Latest News </h2>
        <div class="dropdown-divider"></div>
        <div class="row row-cols-1 row-cols-md-3 g-4 p-2" *ngIf=" (news$ | async) as _news; else loading">
          <div class="col-lg-3"  *ngFor="let newNews of _news" style="display: flex; justify-content: center;">

            <div class="card shadow h-100 mb-3 text-center" style="max-width: 200px; cursor:pointer;" (click)="open(classic3,'' , '', newNews)">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img class="img-fluid card-img" [src]="newNews.pic === '-' ? 'assets/img/rennweg.png' : newNews.pic" alt="First slide">
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">{{newNews.title}}</h5>
                <p class="card-text">
                  {{newNews.shortText}}
                </p>
              </div>
              <div class="card-footer p-0">
               <p><small> Klick hier! </small></p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
</main>


<ng-template #loading>
  Loading stuff...
</ng-template>

<ng-template #classic3 let-c="close" let-d="dismiss">
  <div class="modal-content">
    <div class="modal-header">
      <h6 class="modal-title" id="modal-title-default">{{news.title}}</h6>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div *ngIf="news.pic !== '-'">
      <img class="img-fluid card-img" src="assets/img/rennweg.png" alt="First slide">
    </div>
    <div class="modal-body">
      {{news.text}}
    </div>
  </div>
</ng-template>

